<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ key }}</title>
</head>
<body>

<div id="main" style="height:700px"></div>
<script language="javascript" src="/static/js/echarts/echarts.js" charset="utf-8"></script>
<script type="text/javascript">
    require.config({
        paths: {
            echarts: '/static/js/echarts'
            }
            });
        require(
                [
                'echarts',
                'echarts/chart/funnel',
                'echarts/chart/pie'
                ],
            function (ec) {
            var Dict = {{ data|safe }};
            var myChart = ec.init(document.getElementById('main'),'macarons');
            myChart.showLoading({
                text: '正在努力的读取数据中...',
                    effect: 'bubble',
                    textStyle : {
                    fontSize : 20
                    }
                    });
                   var option = {
    title : {
        text: '{{ key }}招聘需求概况(工作年龄、公司阶段、行业、学历)',
        subtext: '数据来源于拉勾网',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: false,
{#                type: ['pie', 'funnel']#}
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'工作年龄',
            type:'pie',
            radius : [30, 110],
            center : ['30%', '25%'],
            roseType : 'radius',
            data:Dict['work_year']
        },
        {
            name:'职位类型',
            type:'pie',
            center: ['30%','75%'],
            radius : [30, 110],
            roseType : 'radius',
            data:Dict['position']
        },
        {
            name:'学历',
            type:'pie',
            radius : [30, 110],
            center : ['70%', '25%'],
            roseType : 'radius',
            sort : 'ascending',     // for funnel
            data:Dict['education']
            },
            {
            name:'公司阶段',
            type:'pie',
            radius : [30, 110],
            center : ['70%', '75%'],
            roseType : 'radius',
            data:Dict['company_stage']
            },
            ]};
            myChart.hideLoading();
            myChart.setOption(option);
            });
            </script>
<form action="/job/{{ key }}" method="post">
{% csrf_token %}
<input type="image" src="/static/image/prev.png" alt="Submit" name="status" value="two" align="left">
<input type="image" src="/static/image/home.png" alt="Submit" name="status" value="home" align="middle">
<input type="image" src="/static/image/next.png" alt="Submit" name="status" value="four" align="right">
</form>
</body>
</html>
