<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ key }}</title>
</head>
<body>

<div id="main" style="height:700px"></div>
<script language="javascript" src="/static/js/echarts/echarts.js" charset="utf-8"></script>
<script type="text/javascript">
    require.config({
        paths: {
            echarts: '/static/js/echarts'
            }
            });
        require(
                [
                'echarts',
                'echarts/chart/line',
                'echarts/chart/bar'
                ],
            function (ec) {
            var Dict = {{ data|safe }};
            var myChart = ec.init(document.getElementById('main'),'macarons');
            myChart.showLoading({
                text: '正在努力的读取数据中...',
                    effect: 'bubble',
                    textStyle : {
                    fontSize : 20
                    }
                    });
                var option = {
                    backgroundColor:'null',  // 全图默认背景
                    title : {
                        text: '各城市招聘数量 Top10 -{{ key }}',
                        subtext: '数据来源于拉勾网',
                        x: 'center'},
                    tooltip : {             // 气泡提示配置
                        trigger: 'axis' },  // 触发类型
                    legend: {
                        data:['招聘职位','招聘公司'],
                        x: 'left'},
                    toolbox: {              // 工具箱
                        show : true,
                        feature : {
                            mark : {show: true},       // 辅助线标志
                            dataZoom : {show : true},  // 框选区域放缩
                            dataView : {show: true, readOnly: false},  // 数据视图,可编辑刷新
                            magicType : {show: true, type: ['line', 'bar']},  // 动态类型切换
                            restore : {show: true},    // 还原
                            saveAsImage : {show: true}}},  // 保存图片
                    calculable : true,  // 启用拖拽重计算
                    xAxis : [
                        {
                            type : 'category',
                            data : Dict.city
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }],
                    series : [
                        {
                            name:'招聘职位',
                            type:'bar',
                            data:Dict.jobTop10,
                            markPoint : {     //标记
                                data : [
                                    {type : 'max', name: '最多招聘职位'},
                                ]},
                            markLine : {
                                data : [
                                    {type : 'average', name: '招聘职位平均数'}]}},
                        {
                            name:'招聘公司',
                            type:'bar',
                            data: Dict.companyTop10,
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最多招聘公司'},]},
                            markLine : {
                                data : [
                                    {type : 'average', name : '招聘公司平均数'}
                                ]}}
                    ]
                };
                myChart.hideLoading();
                myChart.setOption(option);
                }
        );
    </script>
<form action="/job/{{ key }}" method="post">
{% csrf_token %}
<input type="image" src="/static/image/home.png" alt="Submit" name="status" value="home"align="left">
<input type="image" src="/static/image/next.png" alt="Submit" name="status" value="two" align="right">
</form>
</body>
</html>